{% extends 'base.html'%}

{% block title %}Signup PAGE{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Signup</h1>
    <form class="text-center" action="" method="POST">
        {%csrf_token%}
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="username">UserName</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit" style="margin: 10px;">Submit </button>
    </form>

{% endblock %}